.main-home {
    // border: 2px solid green;
    max-width: 100vw;
    height: calc(100vh - 20px);
    background-color: RGBA( 169, 169, 169, 0.2);
    // padding: 10px 0px;
    .body-book {
        margin: 10px 0px 10px 10px;
        border-radius: 3px;
        background-color: white;
        padding: 10px;

        .tabs-mobile{
            display: none;
        }

        .cards-book {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            height: fit-content;
            // border: 1px solid;

            .card-book {
                cursor: pointer;
                width: calc(20% - 20px);
                padding: 5px;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                width: calc(20% - 20px);
                height: 300px;
                transition: all .5s ease-in-out;
                &:hover {
                    box-shadow: 1px 1px 10px 0px rgb(129, 119, 119);
                    transform: translateY(-3px);
                }

                .thumbnail {
                    height: 180px;
                    width: 180px;
                    margin: 0 auto;
                    margin-top: 15px;
                    // border: 1px solid;

                    img {
                        width: 180px;
                        max-height: 180px;
                        background-color: white;
                        object-fit: contain;
                    }
                }

                .text {
                    margin-top: 3px;
                    display: flex;
                    flex-wrap: wrap;
                    font-size: 13px;
                    // border: 1px solid;
                    height: 60px;
                }

                .price {
                    margin-top: 3px;
                }

                .rate {
                    // margin-top: 3px;
                }
            }
        }

        .card-mobile {
            display: none;
        }

        @media (max-width: 768px) {

            
            .cards-book {
                display: none;
            }

            .tabs-pc{
                display: none;
            }

            .tabs-mobile{
                display: block;
                
            }


            .card-mobile {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
                min-height: 100vh;

                .card-book-mobile {
                    width: 46%;
                    padding: 5px;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    height: 300px;
                    transition: all .5s ease-in-out;
                &:hover {
                    box-shadow: 1px 1px 10px 0px rgb(129, 119, 119);
                    transform: translateY(-3px);
                }

                    .thumbnail-mobile {
                        height: 180px;
                    width: 180px;
                        margin: 0 auto;
                        margin-top: 15px;

                        img {
                            width: 180px;
                            max-height: 180px;
                            background-color: white;
                            object-fit: contain;
                        }
                    }

                    .text-mobile {
                        margin-top: 3px;
                        display: flex;
                        flex-wrap: wrap;
                        font-size: 13px;
                    height: 60px;

                    }

                    .price {
                        margin-top: 3px;
                    }

                    .rate {
                        // margin-top: 3px;
                    }
                }
            }
        }

        .pagination {
            display: flex;
            justify-content: center;
        }
    }
}

@media (max-width: 768px) {

    .main-home{
        background-color: white;
    }
    .footer{
        display: none;
    }
}